<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chanwon.appsent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LoginPage"
            android:label="@string/title_activity_home_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.HomePage"
            android:label="@string/title_activity_sub_page">
        </activity>
        <activity
            android:name=".Activity.OverviewSentiment"
            android:label="@string/title_activity_overview_sentiment" />
        <activity
            android:name=".Activity.RankingFeatures"
            android:label="@string/title_activity_feature_ranking" />
        <activity
            android:name=".Activity.timeline.emotion.network.NetworkPositive"
            android:label="@string/title_activity_timeline_popup_star"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".Activity.timeline.emotion.network.NetworkNeutral"
            android:label="@string/title_activity_timeline_popup_star"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".Activity.timeline.emotion.network.NetworkNegative"
            android:label="@string/title_activity_timeline_popup_star"
            android:theme="@style/AppTheme.CustomTheme"></activity>


        <activity
            android:name=".Activity.timeline.emotion.network.NetworkHappy"
            android:label="@string/title_activity_timeline_popup_star"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".Activity.timeline.emotion.network.NetworkSad"
            android:label="@string/title_activity_timeline_popup_star"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".Activity.timeline.emotion.network.NetworkAnger"
            android:label="@string/title_activity_timeline_popup_star"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".Activity.timeline.emotion.network.NetworkFear"
            android:label="@string/title_activity_timeline_popup_star"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".Activity.timeline.emotion.network.NetworkDisgust"
            android:label="@string/title_activity_timeline_popup_star"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".Activity.timeline.emotion.network.NetworkSurprise"
            android:label="@string/title_activity_timeline_popup_star"
            android:theme="@style/AppTheme.CustomTheme"></activity>


        <activity
            android:name=".Activity.RankingFeaturesEmo"
            android:label="@string/title_activity_feature_ranking_emo" />
        <activity
            android:name=".Activity.timeline.TimeLinePopup"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Activity.timeline.TimelinePopupEmo"
            android:label="@string/title_activity_timeline_popup_emo"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Activity.timeline.TimelinePopupStar"
            android:label="@string/title_activity_timeline_popup_star"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".Activity.timeline.TimeLineSentPosRank"
            android:label="@string/title_activity_timeline_popup_pos_rank"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".Activity.timeline.TimeLineSentNeuRank"
            android:label="@string/title_activity_timeline_popup_pos_rank"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".Activity.timeline.TimeLineSentNegRank"
            android:label="@string/title_activity_timeline_popup_pos_rank"
            android:theme="@style/AppTheme.CustomTheme"></activity>

        <activity
            android:name=".Activity.timeline.emotion.TimeLineEmoHapRank"
            android:label="@string/title_activity_timeline_popup_pos_rank"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".Activity.timeline.emotion.TimeLineEmoSadRank"
            android:label="@string/title_activity_timeline_popup_pos_rank"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".Activity.timeline.emotion.TimeLineEmoAngRank"
            android:label="@string/title_activity_timeline_popup_pos_rank"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".Activity.timeline.emotion.TimeLineEmoFeaRank"
            android:label="@string/title_activity_timeline_popup_pos_rank"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".Activity.timeline.emotion.TimeLineEmoDisRank"
            android:label="@string/title_activity_timeline_popup_pos_rank"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".Activity.timeline.emotion.TimeLineEmoSurRank"
            android:label="@string/title_activity_timeline_popup_pos_rank"
            android:theme="@style/AppTheme.CustomTheme"></activity>
    </application>

</manifest>
